.view {
    text-decoration: none;
    padding-left: 42%;
    padding-right: 2%;
}
header{
    background-color: rosybrown;
    width: 100%;
    position: fixed; 
    height: 68px;
    top: 0;
    z-index: 10;

}
footer{
    bottom: 0;
    background-color: rosybrown;
    width: 100%;
    position: fixed; 
    padding: 15px 0;
    height: 35px;
}
header a{
    position: relative;
    left: 91%;
    text-align: center;
    vertical-align: middle;
    top: -25px;
    text-decoration: none;
    color: black;
}
.img-info {
    flex: 1 1 auto;
    margin: 5%;
    justify-content: center;
    width:300px;
}
.contentDiv {

    margin: 3%;
    background-color:lightgrey;
    width: 600px;
    height: auto;
    display: flex;
    flex: 30%;

}
h3{
    padding-bottom: 4%;
} 
#linkStyle{
    font-weight: bold;
    padding-top: 5px;
}
*{
    text-decoration: none;
    color: black;
}
.content{
    padding:4%;
    }
    .links{
        display:flex;
        margin:2%;
      }